[submodule "work/hello"]
    path = work/hello
    url = https://github.com/Houssam-Alhyane/hello.git

[submodule "work/cloned_hello"]
    path = work/cloned_hello
    url = https://github.com/Houssam-Alhyane/cloned_hello.git
